<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
             <title th:text="#{dashboard.account.form.account}"></title>
               <!-- Bootstrap Core CSS -->
            <link href=""   th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

            <!-- MetisMenu CSS -->
            <link href="" th:href="@{/resources/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>     

			<!-- Custom CSS -->
            <link href="" th:href="@{/resources/dist/css/sb-admin-2.css}" rel="stylesheet"/>			
			
			<!-- Custom Fonts -->
            <link href="" th:href="@{/resources/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
            
            <link rel="stylesheet" type="text/css" th:href="@{/resources/css/datatables.min.css}">
            <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dataTables.bootstrap.css}">

            <link href=""  th:href="@{/resources/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
            <link rel="icon" type="image/png"  th:href="@{/resources/images/logo.png}"/>
            <script src="" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
            
            <!-- Bootstrap Core JavaScript -->
            <script src="" th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
            

            <!-- Metis Menu Plugin JavaScript -->
            <script src="" th:src="@{/resources/vendor/metisMenu/metisMenu.min.js}"></script>
            <!-- DataTables JavaScript -->
             <!-- Custom Theme JavaScript -->
            <script src="" th:src="@{/resources/dist/js/sb-admin-2.js}"></script>
            <!-- DataTables JavaScript -->
        <script src="" th:src="@{/resources/vendor/datatables/js/jquery.dataTables.min.js}"></script>
        <script src="" th:src="@{/resources/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
        <script src="" th:src="@{/resources/vendor/datatables-responsive/dataTables.responsive.js}"></script>
        

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

 <body>

            <div id="wrapper">
                <nav th:replace="fragments/components :: navMainMenu">
                </nav>
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header" th:text="#{dashboard.account.form.account}"></h3>                          
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                             <div class="panel-heading">
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend}"></small></p>                                
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend1}"></small></p>
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend2}"></small></p>                                        
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend3}"></small></p>
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend4}"></small></p>
                                    <p class="text-info" ><small th:text="#{dashboard.account.form.legend5}"></small></p>
                                </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" th:text="#{dashboard.account.add}">
                               </div>  
                                <div class="panel-body">                                      
                                        <div class="row">                                             
                                         <div class="col-md-8 order-md-1">    
                                             <form class="needs-validation" action="#" method="post"  th:action="@{/addAccount}" name="formActionAccount" th:object="${accountForm}"  >    
                                                 <div class="form-group">                                                
                                                     <div class="col-md-4 mb-1">
                                                         <label for="firstName" th:text="#{dashboard.account.firtname}">First name</label>
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <div class="input-group">
                                                             <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                             <input type="text" class="form-control" name="firtname" id="firtname" th:field="*{firtname}"  th:attr="placeholder=#{dashboard.account.firtname.placeholder}" required/>
                                                         </div>
                                                     </div>
                                                 </div> 
                                                 <div class="form-group">                                                
                                                     <div class="col-md-4 mb-1">
                                                         <label for="lasnameLabel" th:text="#{dashboard.account.surname}">Surname</label>
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <div class="input-group">
                                                             <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                             <input type="text" class="form-control" name="lastname" id="firtname" th:field="*{lastname}"  th:attr="placeholder=#{dashboard.account.lastname.placeholder}" required/>
                                                         </div>
                                                     </div>
                                                 </div>                                            
                                                 <div class="form-group">                                                
                                                     <div class="col-md-4 mb-1">
                                                         <label for="username" class="cols-sm-2 control-label" th:text="#{dashboard.account.user}"></label>
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <div class="input-group">
                                                             <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                             <input type="email" class="form-control" name="username" id="username" th:field="*{email}"  th:attr="placeholder=#{dashboard.account.emailYourUser}" required/>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="form-group">                                                
                                                     <div class="col-md-4 mb-1">
                                                         <label for="email" th:text="#{dashboard.account.password}">Password <span class="text-muted">(Optional)</span></label>
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <div class="input-group">
                                                             <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                             <input type="password" class="form-control" name="password" th:field="*{password}"  id="password"  th:attr="placeholder=#{dashboard.account.passwordPlaceholder}" required/>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="form-group">                                                
                                                     <div class="col-md-4 mb-1">
                                                         <label for="email" th:text="#{dashboard.account.ConfirmPassword}">Confirm Password <span class="text-muted">(Optional)</span></label>
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <div class="input-group">
                                                             <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                             <input type="password" class="form-control" name="confirm" id="confirm" th:field="*{repeatPassword}"  th:attr="placeholder=#{dashboard.account.passwordPlaceholder.confirm}" required/>
                                                         </div>
                                                     </div>   
                                                 </div> 
                                                 <!---->
                                                 <div class="form-group"> 
                                                     <div class="col-md-4 mb-1">
                                                         <label th:text="#{dashboard.account.role}">Role</label> 
                                                         <strong  class="text-danger" th:text="#{dashboard.general.requiredField}"> Campo requerido.</strong>
                                                         <select class="form-control"  id="role" name="role" required th:field="*{role}" th:attr="disabled=${disabled}" >
                                                             <option th:each="role : ${listRole}"   th:value="${role.name}" th:utext="${role.description}" th:field="*{role}" required/>
                                                         </select>
                                                     </div>
                                                 </div>     
                                                 <!---->
                                                 <div class="row">                                                                         
                                                 </div>    
                                                 <div class="panel-body">
                                                     <div class="row">                                   
                                                         <div class="col-md-4 mb-1">
                                                             <button type="submit" class="btn btn-outline btn-primary" th:attr="disabled=${disabled}" th:text="#{dashboard.student.addstudent.StudentForm.save}">Subir los cambios</button>
                                                           <!--  <button type="reset" id="cleanForm" class="btn btn-outline btn-primary" th:attr="disabled=${disabled}" th:text="#{dashboard.student.addstudent.StudentForm.clear}">Limpiar los datos</button>                                                                             
                                                           -->
                                                         </div> 
                                                     </div>
                                                 </div>                                             
                                             </form>
                                         </div>
                                        
                                            <!---->
                                            <div class="row">
                                                <div class="col-lg-12">                                            
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" th:text="#{dashboard.account.table.update}">
                                                        </div> 
                                                        <div class="panel-body">          
                                                            <form class="needs-validation" action="#" method="post" th:action="@{/updateAccount}" name="formActionAccount" th:object="${accountForm}" >     
                                                                <div class="table-responsive">                                                     
                                                                    <table width="100%" class="table table-striped table-bordered table-hover" id="users">
                                                                        <thead >
                                                                            <tr>                                                                
                                                                                <th  th:text="#{dashboard.account.table.firtname}">firtname</th>
                                                                                <th  th:text="#{dashboard.account.table.surname}">surname</th>                                                                
                                                                                <th  th:text="#{dashboard.account.table.user}">user</th>
                                                                                <th  th:text="#{dashboard.account.table.role}">role</th> 
                                                                                <th  th:text="#{dashboard.products.form.accion}">Accion</th> 
                                                                            </tr>
                                                                        </thead>                                              
                                                                        <tbody th:if="${not #lists.isEmpty(accountForm.listAccountDto)}">
                                                                            <tr class="odd gradeX" th:each="dto,rowStat: ${accountForm.listAccountDto}" >                                                    
                                                                                <td th:text="${dto.firtname}" class="center"></td>
                                                                                <td th:text="${dto.lasname}" class="center">lasname</td>
                                                                                <td th:text="${dto.email}" class="center">email</td>
                                                                                <td class="center"> 
                                                                                <select class="form-control"  id="roleT" name="role" required th:field="*{listAccountDto[__${rowStat.index}__].role}" th:attr="disabled=${disabled}" >                                                                                   
                                                                                    <option th:each="role : ${listRole}"   th:value="${role.name}" th:utext="${role.description}" th:field="*{listAccountDto[__${rowStat.index}__].role}" />
                                                                                </select>
                                                                                <td>
                                                                                    <select class="form-control"  id="accion" name="accion" required th:field="*{listAccountDto[__${rowStat.index}__].accion}" th:attr="disabled=${disabled}" >
                                                                                        <option value="0"> -- </option>
                                                                                        <option th:each="accion : ${accions}"   th:value="${accion.id}" th:utext="${accion.description}" th:field="*{listAccountDto[__${rowStat.index}__].accion}" />
                                                                                    </select>
                                                                                </td>
                                                                        <input type="hidden" class="form-control" id="id" placeholder="" value="" required    th:field="*{listAccountDto[__${rowStat.index}__].id}"  name="id"/>
                                                                        </tr>

                                                                        </tbody>
                                                                    </table>                                                        
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 mb-1">
                                                                        <button type="submit" class="btn btn-outline btn-primary" th:attr="disabled=${disabled}" th:text="#{dashboard.account.update}" >Subir los cambios</button>                                                                
                                                                    </div>                                    
                                                                </div>     
                                                            </form> 
                                                            <!-- /.table-responsive -->                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>          
                                          <!---->
                                            
                                </div>       
                            </div>                                                      
                        </div>
                    </div>
                </div>
                <th:block th:if="${not #strings.isEmpty(generalModalMessage)}">     
                    <script th:inline="javascript"  type="text/javascript">
                                $(window).on('load', function () {
                        $('#modalMessage').modal('show');
                    });                       
                     </script>
                    <div th:replace="fragments/components :: modal(id='modalMessage', title='Error en la busqueda')"></div>                                                
                </th:block>
            </div>
                <script th:inline="javascript" type="text/javascript">                
                    $(document).ready(function () {
                        $('#users').DataTable({
                            responsive: true,
                            "language": {
                                "decimal": "",
                                "emptyTable": "No hay datos de usuarios..",
                                "info": "Muestra _START_ a _END_ de _TOTAL_ entradas",
                                "infoEmpty": "Mostrando de 0 a 0 de 0 entradas",
                                "infoFiltered": "(filtrado from _MAX_ total de registros)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Muestra _MENU_ Registros",
                                "loadingRecords": "Bajando...",
                                "processing": "Procesando...",
                                "search": "Busqueda:",
                                "zeroRecords": "No hay registros encontrados",
                                "paginate": {
                                    "first": "Primera",
                                    "last": "Ultima",
                                    "next": "Siguiente",
                                    "previous": "Previa"
                                },
                                "aria": {
                                    "sortAscending": ": activado el ordenamiento de columna de forma acendente",
                                    "sortDescending": ": activado el ordenamiento de columna de forma decendente"
                                        }
                            }
                        });
                    });
            </script> 
        </body>   
    </html>